html, body, ul, ol, li, form, h1, h2, h3, h4, p {
  margin: 0; padding: 0;
}

html {
  font-size: 20px;
}

body {
  font-family: Georgia, serif;
  line-height: 1.5rem;
  background-color: #ffffff;
}

h1 {
  font-family: Helvetica, sans-serif;
  color: #333333;
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #cc0000;
}

a:hover {
  border-bottom: 1px dotted #cc0000;
}

.head {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  height: 60px;
  text-align: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  padding: 0 10px;
  margin: auto;
  padding-top: 1rem;
}

ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.social {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.social img {
  width: 24px;
  height: 24px;
  margin: 8px;
  display: inline-block;
}

.social a:hover {
  border: none;
  opacity: 60%;
}

div.center {
  text-align: center;
}
