/* CSS for catwell.info v9 */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: #d0d0d0;
  height: 100%;
}

p {
  margin-bottom: 1rem;
  line-height: 1.3rem;
}

ul {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.2rem;
  line-height: 1.3rem;
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #ff4100;
}

a:hover {
  border-bottom: 1px dotted #ff4100;
}

.head {
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  height: 60px;
  background: #d0d0d0 url('head.png') no-repeat center;
}

a.head:hover {
   border-bottom: none;
}

.container {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 900px;
  background: #f9f9f9;
  color: #000000;
  overflow: hidden;
}

.container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

div.center {
  text-align: center;
}
